*{
    transition: 0.5s;
    box-sizing: border-box;
    margin: 0;
}

.container{
    /* display: none; */
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    margin: 15px auto;

    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;

    /* ჰორიზონტალურად კონტენტის დალაგება */
    /* justify-content: space-between; */

    /* ვერტიკალრად კონტენტის დალაგება */
    /* align-items: flex-end; */

    /* ფლექსის მიმართულება */
    /* flex-direction: row;
    flex-direction: row-reverse; */
    /* flex-direction: column; */
}


.box{
    width: 25%;
    height: 33.3%;
    border: 1px solid black;
}

.box-1{
    background-color: red;
    /* order: 1; */

    /* align-self: center; */
}

.box-2{
    background-color: blue;
    /* order: 3; */
}

.box-3{
    background-color: green;
    /* order: 2; */
}

/* .container-1{
    display: none;
    align-items: center;
    width: 80%;
    height: 100vh;
    border: 1px solid red;
    margin: 15px auto; */

    /* display: flex; */
    /* ფლექსის მიმართულების "გატეხვა" */
    /* flex-wrap: wrap-reverse;
    justify-content: safe;
    flex-direction: column-reverse;
} */

/* .box-wrap{
    height: 50px;
    border: 1px solid black;
}

.box-wrap1{
    width: 100%;
}

.box-wrap2{
    width: 75%;
}

.box-wrap3{
    width: 50%;
}

.box-wrap4{
    width: 25%;

} */